.center-screen{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-form{
    padding-top: 5px;
    padding-bottom: 5px;
}